.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
}

.error-message {
  color: var(--contrast-primary);
  background-color: var(--bg-panel);
  border: 1px solid var(--border-light);
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  font-size: var(--title);
  text-align: center;
}

.link-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.link {
  color: var(--secondary);
  text-decoration: none;
  font-weight: bold;
  transition: color var(--transition-time) ease;
}

.link:hover {
  color: var(--primary);
}

.separator {
  color: var(--text-dark);
}

.logout-button {
  background-color: var(--primary);
  color: var(--text-white);
  border: none;
  padding: 10px 20px;
  font-size: var(--text);
  font-weight: bold;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: all var(--transition-time) ease;
}

.logout-button:hover {
  background-color: var(--secondary);
  box-shadow: var(--shadow-darker);
}

.logout-button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
  box-shadow: none;
}

.images-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.page-title {
  color: black;
  font-size: var(--title);
}

.username {
  color: var(--contrast-primary);
}

.items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  width: 100%;
}
