.tool_btn {
  border: 1px solid var(--primary);
  color: var(--text-color);
  background: none;

  transition:
    background-color var(--transition-time),
    color var(--transition-time);

  border-radius: var(--border-radius);

  font-size: var(--text);

  padding: 0.5rem 1rem;
}

.tool_btn:hover {
  background-color: var(--primary);
  color: var(--bg-panel);
  .btn_icon {
    filter: invert(0%);
  }
}

.tool_btn:disabled {
  color: var(--disabled);
  border: 1px solid var(--disabled);
  .btn_icon {
    filter: none;
  }
}

.tool_btn:disabled:hover {
  background: none;
  .btn_icon {
    filter: none;
  }
}

.active {
  background-color: var(--primary);
  color: var(--bg-panel);
}

.active .btn_icon {
  filter: invert(0%);
}

.btn_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

.btn_icon {
  filter: invert(100%);
  transition: filter var(--transition-time);
}
