.form_btn {
  border: 1px solid var(--primary);
  color: var(--text-color);
  background: none;

  transition:
    background-color var(--transition-time),
    color var(--transition-time);

  border-radius: var(--border-radius);

  font-size: var(--text);

  padding: 0.5rem 1rem;
  cursor: pointer;
}

.form_btn:hover {
  background-color: var(--primary);
  color: var(--bg-panel);
}

.close {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

.close_btn {
  border: none;
  background: var(--primary);
  padding: 8px;
  border-radius: var(--border-radius);
  transition:
    background-color var(--transition-time),
    border-radius var(--transition-time);
}

.close_btn:hover {
  background-color: var(--contrast-primary);
  border-radius: var(--border-radius-round);
}

.inner_icon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_title {
  font-size: var(--subtitle);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 24px 32px;
}

.params {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: var(--text);
}

.error {
  color: red;
}

.success_message {
  color: green;
  font-size: var(--text);
  padding: 0.5rem;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: var(--border-radius);
  width: 100%;
  text-align: center;
}

.error_message {
  color: #721c24;
  font-size: var(--text);
  padding: 0.5rem;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: var(--border-radius);
  width: 100%;
  text-align: center;
}

.btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
