* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Jetbrains Mono";
}

:root {
  --bg-canvas: #f4f6fc;
  --bg-panel: #fdfdfd;

  --border-light: #e8edf9;
  --border-dark: #1c1d1f;

  --primary: #3b82f6;
  --secondary: #8b5cf6;
  --contrast-primary: #ff9933;
  --contrast-secondary: #ffcc66;
  --danger: #ff4900;
  --danger-light: #ff9d00;
  --grid: #c7d2fe;

  --text-dark: hsl(0, 5%, 5%);
  --text-white: hsl(0, 0%, 95%);

  --disabled: hsl(0, 5%, 70%);

  --shadow: 0 4px 12px rgba(165, 180, 252, 0.25);
  --shadow-darker: 0 6px 16px rgba(99, 102, 241, 0.3);

  --border-radius: 4px;
  --border-radius-round: 12px;

  --title: 32px;
  --subtitle: 24px;
  --text: 14px;

  --transition-time: 0.3s;
}
